# Python advanced programming

## 1. Create a function to perform basic arithmetic operations that includes addition, subtraction, multiplication and division on a string number (e.g. "12 + 24" or "23 - 21" or "12 // 12" or "12 * 21").
Here, we have 1 followed by a space, operator followed by another space and 2. For the challenge, we are going to have only two numbers between 1 valid operator. The return value should be a number. eval() is not allowed. In case of division, whenever the second number equals "0" return -1.

For example:

"15 // 0" ➞ -1

Examples

arithmetic_operation("12 + 12") ➞ 24 // 12 + 12 = 24

arithmetic_operation("12 - 12") ➞ 24 // 12 - 12 = 0

arithmetic_operation("12 12") ➞ 144 // 12 12 = 144

arithmetic_operation("12 // 0") ➞ -1 // 12 / 0 = -1

In [1]:
def arithmetic_operation(s):
    l = s.split()
    l1 = list(map(int,l[0:3:2]))
    if l[1] == '+':
         return l1[0] + l1[1]
    elif l[1] == '-':
         return l1[0] - l1[1]
    elif l[1] == '*':
         return l1[0] * l1[1]
    else:
        if l1[1] == 0:
            return -1
        else:
            return l1[0] / l1[1]
            

print(arithmetic_operation("12 + 12"))
print(arithmetic_operation("12 - 12"))
print(arithmetic_operation("12 * 12"))
print(arithmetic_operation("12 / 12"))
print(arithmetic_operation("12 / 0"))

24
0
144
1.0
-1

## 2.Write a function that takes the coordinates of three points in the form of a 2d array and returns the perimeter of the triangle. The given points are the vertices of a triangle on a two-dimensional plane.
Examples:
    
perimeter( [ [15, 7], [5, 22], [11, 1] ] ) ➞ 47.08

perimeter( [ [0, 0], [0, 1], [1, 0] ] ) ➞ 3.42

perimeter( [ [-10, -10], [10, 10 ], [-10, 10] ] ) ➞ 68.28

In [4]:
import math
def perimeter(ary):
    # distance between two points = squarroot ((ax-ay) **2 + (bx-by)**2)
    # lets split the list in to 3 different lists
    x = ary[0]
    y = ary[1]
    z = ary[2]
    #Find lenth of 3 sides
    a = math.sqrt((x[0]-x[1])**2 + (y[0]-y[1])**2)
    b = math.sqrt((y[0]-y[1])**2 + (z[0]-z[1])**2)
    c = math.sqrt((z[0]-z[1])**2 + (x[0]-x[1])**2)
    perimetr = a + b + c
    print("The co ordinates are ",x,y,z)
    return perimetr

In [5]:
perimeter([[15,7],[5,22],[11,1]])

The co ordinates are  [15, 7] [5, 22] [11, 1]

51.31762562623766

In [6]:
perimeter( [ [0, 0], [0, 1], [1, 0] ] )

The co ordinates are  [0, 0] [0, 1] [1, 0]

3.414213562373095

In [7]:
perimeter( [ [-10, -10], [10, 10 ], [-10, 10] ] )

The co ordinates are  [-10, -10] [10, 10] [-10, 10]

40.0

## 3.A city skyline can be represented as a 2-D list with 1s representing buildings. In the example below, the height of the tallest building is 4 (second-most right column).
[[0, 0, 0, 0, 0, 0],
 
[0, 0, 0, 0, 1, 0],
 
[0, 0, 1, 0, 1, 0],
 
[0, 1, 1, 1, 1, 0],
 
[1, 1, 1, 1, 1, 1]]

Create a function that takes a skyline (2-D list of 0's and 1's) and returns the height of the tallest skyscraper.
Examples:
    
tallest_skyscraper([[0, 0, 0, 0],[0, 1, 0, 0],[0, 1, 1, 0],[1, 1, 1, 1]]) ➞ 3

tallest_skyscraper([[0, 1, 0, 0],[0, 1, 0, 0],[0, 1, 1, 0],[1, 1, 1, 1]]) ➞ 4

tallest_skyscraper([[0, 0, 0, 0],[0, 0, 0, 0],[1, 1, 1, 0],[1, 1, 1, 1]]) ➞ 2

In [8]:
def tallest_skyscraper(array):
    list_of_height = []
    sum = 0
    for i in range(len(array[0])):
        for j in range(len(array)):
            sum = sum + array[j][i]
        list_of_height.append(sum)
        sum = 0
    return "The hieght of tallest building is : ", max(list_of_height)

In [9]:
tallest_skyscraper([
[0, 0, 0, 0],
[0, 1, 0, 0],
[0, 1, 1, 0],
[1, 1, 1, 1]
])

('The hieght of tallest building is : ', 3)

In [10]:
tallest_skyscraper([
[0, 1, 0, 0],
[0, 1, 0, 0],
[0, 1, 1, 0],
[1, 1, 1, 1]
])

('The hieght of tallest building is : ', 4)

In [11]:
tallest_skyscraper([
[0, 0, 0, 0],
[0, 0, 0, 0],
[1, 1, 1, 0],
[1, 1, 1, 1]
])

('The hieght of tallest building is : ', 2)

In [12]:
#solution 2
def tallest_skyscraper(in_list):
    out_list = []
    for num in range(len(in_list)):
        count = 0
        for ele in range(len(in_list[num])):
            count += in_list[ele][num]
        out_list.append(count)
    print(f'tallest_skyscraper({in_list}) ➞ {max(out_list)}')
        
tallest_skyscraper([[0, 0, 0, 0],[0, 1, 0, 0],[0, 1, 1, 0],[1, 1, 1, 1]])
tallest_skyscraper([[0, 1, 0, 0],[0, 1, 0, 0],[0, 1, 1, 0],[1, 1, 1, 1]])
tallest_skyscraper([[0, 0, 0, 0],[0, 0, 0, 0],[1, 1, 1, 0],[1, 1, 1, 1]])

tallest_skyscraper([[0, 0, 0, 0], [0, 1, 0, 0], [0, 1, 1, 0], [1, 1, 1, 1]]) ➞ 3
tallest_skyscraper([[0, 1, 0, 0], [0, 1, 0, 0], [0, 1, 1, 0], [1, 1, 1, 1]]) ➞ 4
tallest_skyscraper([[0, 0, 0, 0], [0, 0, 0, 0], [1, 1, 1, 0], [1, 1, 1, 1]]) ➞ 2

## 4.A financial institution provides professional services to banks and claims charges from the customers based on the number of man-days provided. Internally, it has set a scheme to motivate and reward staff to meet and exceed targeted billable utilization and revenues by paying a bonus for each day claimed from customers in excess of a threshold target.

This quarterly scheme is calculated with a threshold target of 32 days per quarter, and the incentive payment for each billable day in excess of such threshold target is shown as follows:

Days                             Bonus  

0 to 32 days                  Zero  

33 to 40 days                 SGD$325 per billable day  

41 to 48 days                 SGD$550 per billable day  

Greater than 48 days          SGD$600 per billable day

Please note that incentive payment is calculated progressively. As an example, if an employee reached total billable days of 45 in a quarter, his/her incentive payment is computed as follows:
32*0 + 8*325 + 5*550 = 5350

Write a function to read the billable days of an employee and return the bonus he/she has obtained in that quarter.

Examples:
    
bonus(15) ➞ 0

bonus(37) ➞ 1625

bonus(50) ➞ 8200

In [13]:
def bonus(days):
    if days < 32:
        return 0
    
    elif days > 32 and days < 41:
        return (days-32) * 325
    
    elif days > 40 and days < 49:
        return 8 * 325 + (days - 40) * 550
    
    elif days > 48:
        return 8 * 325 + 8 * 550 + (days - 48) * 600
    
print(bonus(15))
print(bonus(37))
print(bonus(50))

0
1625
8200

## 5. A number is said to be Disarium if the sum of its digits raised to their respective positions is the number itself.
Create a function that determines whether a number is a Disarium or not.

Examples

is_disarium(75) ➞ False 7^1 + 5^2 = 7 + 25 = 32

is_disarium(135) ➞ True 1^1 + 3^2 + 5^3 = 1 + 9 + 125 = 135

is_disarium(544) ➞ False

is_disarium(518) ➞ True

is_disarium(466) ➞ False

is_disarium(8) ➞ True

In [15]:
#solution 1
def is_disarium(in_num):
    sum = 0
    output = False
    for ele in range(len(str(in_num))):
        sum += int(str(in_num)[ele])**(ele+1)
    if in_num == sum:
        output=True
    print(f'is_disarium({in_num}) ➞ {output}')
    
is_disarium(75)
is_disarium(135)
is_disarium(544)
is_disarium(518)
is_disarium(466)
is_disarium(8)

is_disarium(75) ➞ False
is_disarium(135) ➞ True
is_disarium(544) ➞ False
is_disarium(518) ➞ True
is_disarium(466) ➞ False
is_disarium(8) ➞ True

In [16]:
def is_disarium(n):
    sum1 = 0 
    l = list(map(int,str(n)))
    for i in range(0,len(l)):
        sum1 += l[i]**(i+1)

    if sum1 == n:
        return True
    else:
        return False
    
print(is_disarium(75))
print(is_disarium(135))
print(is_disarium(544))
print(is_disarium(518))
print(is_disarium(466))
print(is_disarium(8))

False
True
False
True
False
True